In [2]:
# atau dengan Dictionary
import pandas as pd
nama = ['Berti', 'Qorygore', 'Bimo']
tugas = [90,80,70]
uts = [85,85,75]
uas = [95,90,80]
ratarata = [90.5,86.6,78.5]
df2 = pd.DataFrame({'Nama':nama, 'Tugas':tugas, 'UTS':uts, 'UAS':uas, 'Rata-Rata':ratarata})
df2

       Nama  Tugas  UTS  UAS  Rata-Rata
0     Berti     90   85   95       90.5
1  Qorygore     80   85   90       86.6
2      Bimo     70   75   80       78.5