In [ ]:
# DATA PERTAMA
import pandas as pd
nama = ['Berti', 'Ryndes', 'Arin']
tugas = [95,90,75]
jurusan = ['IF', 'SI', 'KA']
df3 = pd.DataFrame({'Nama':nama, 'Tugas':tugas, 'Jurusan':jurusan})
df3

In [ ]:
# DATA KEDUA
nama = ['Berti', 'Ryndes', 'Rylo']
tugas = [85,84,70]
jurusan = ['IF', 'SI', 'SI']
df4 = pd.DataFrame({'Nama':nama, 'Tugas':tugas, 'Jurusan':jurusan})
df4

In [ ]:
# INNER JOIN
df3.join(df4, how='inner')

In [ ]:
# LEFT JOIN
df3.join(df4, how='left')

In [ ]:
# RIGHT JOIN
df3.join(df4, how='right')

In [ ]:
# OUTER JOIN
df3.join(df4, how='outer')

In [ ]:
# Concat
pd.concat([df3, df4], sort='False')